h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}
body{
    background-image : url(Gemini_Generated_Image_j4pvqxj4pvqxj4pv.png);

    display: flex;
    flex-direction : column;
    align-items: center;

}
form {
    background-color : white;
    display : flex;
    flex-direction : column;
    gap : 5px;
    width : 50%;
    padding : 20px;
    border-radius : 10px;
    box-shadow : 5px 5px 15px rgb(0,0,0,3);
}
form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form > div > label {
    flex: 1;
    font-weight: bold;
}

form > div > input {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form > button {

    align-self : center;
    flex : 2;
    width : 30%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db; /* blue for update */
    color: white;
    margin-left: 5px;
}
#css1
{
    width : 60px;
}
ul {
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 20px auto;   /* center the ul on the page */
    list-style: none;    /* remove bullets */
    border-radius: 8px;
}

li {
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    align-items: center;   /* vertically align text + buttons */
    justify-content: space-between; /* space between text and buttons */
    padding: 8px 12px;
    margin-bottom: 8px;    /* spacing between items */
    background: #f9f9f9;
}

li p {
    margin: 0; /* remove default margin */
    flex: 1;   /* let text grow and push buttons right */
}

li button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

li button:first-of-type {
    background-color: #e74c3c; /* red for delete */
    color: white;
}

li button:last-of-type {
    background-color: #3498db; /* blue for update */
    color: white;
    margin-left: 5px;
}
#z12 {
    display: flex;
    align-items : center;
    gap : 15px;
}
#z12 > h1{
    align-self : flex-end;
}

